
@model CRM.Models.UserModel
@{
    ViewBag.Title = "Add New User";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <h2 class="mb-4">Add New User</h2>
            @using (Html.BeginForm("AddUser", "ManageUsers", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                <div class="form-group mb-3">
                    @Html.LabelFor(m => m.Username, "Name", new { @class = "form-label" })
                    @Html.TextBoxFor(m => m.Username, new { @class = "form-control", placeholder = "Enter full name", required = "required" })
                </div>
                <div class="form-group mb-3">
                    @Html.LabelFor(m => m.Email, "Email", new { @class = "form-label" })
                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control", placeholder = "Enter email", required = "required" })
                </div>
                <div class="form-group mb-3">
                    @Html.LabelFor(m => m.Password, "Password", new { @class = "form-label" })
                    @Html.PasswordFor(m => m.Password, new { @class = "form-control", placeholder = "Enter password", required = "required" })
                </div>
                <div class="form-group mb-3">
                    @Html.LabelFor(m => m.Role, "Role", new { @class = "form-label" })
                    @Html.DropDownListFor(m => m.Role, new SelectList(ViewBag.Roles as List<string> ?? new List<string>(), Model?.Role), "Select Role", new { @class = "form-control" })
                </div>
                <button type="submit" class="btn btn-success">Create User</button>
                <a href="@Url.Action("Index", "ManageUsers")" class="btn btn-secondary ml-2">Cancel</a>
            }
        </div>
    </div>
</div>
